body {
  margin: 0;
  font-family: "Arial Rounded MT Bold";
  height: 100vh;
  width: 100vw;
  background: red;
  background: linear-gradient(114deg, #4766e6 0%, #00fbff 100%);
}

#selectBtn {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#selectBtn button {
  color: white;
  font-size: 2vw;
  text-shadow: 3px 0 3px black;
  background-color: transparent;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 5%;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

#selectBtn button:hover {
  color: #bbbbbb;
}

#selectBtn button.show {
  background-color: white;
  color: black;
  text-shadow: black;
}

#content {
  height: 70%;
  width: 100%;
}

#content div.showPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-1 {
  height: 100%;
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#page-1 #homeHead {
  font-size: 4vw;
  text-shadow: 3px 0 3px black;
}

#page-1 #homeText {
  text-align: center;
  font-size: 2vw;
  text-shadow: 3px 0 3px black;
}

#page-1 #define {
  font-size: 4vw;
  background-color: transparent;
  padding: 10px 20px;
  border: 3px white solid;
  -webkit-box-shadow: 1px 0 2px black;
          box-shadow: 1px 0 2px black;
  color: white;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

#page-1 #define:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 150px white;
          box-shadow: 0 0 150px white;
  color: #4791e6;
}

#page-2 {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-2 div {
  margin: 25px;
}

#page-3 {
  display: none;
  height: 100%;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  color: white;
  text-shadow: 3px 0 3px black;
}

#page-3 #threeHead {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  font-size: 4vw;
}

#page-4 {
  display: none;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 3px 0 3px black;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2vw;
}

#page-5 {
    display: none;
    height: 100%;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 2vw;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 20px;
    color: white;
    text-shadow: 3px 0 3px black;
}

#page-5 #fiveHead {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-transform: uppercase;
    font-size: 4vw;
}

#strength {
  height: 15%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 2px 0 2px black;
  font-size: 2vw;
}

#strength.showPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#title {
  font-size: 4vw;
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 0 5px black;
}

#finish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lock {
  margin: 5px;
  width: 600px;
  height: 50px;
  border: none;
  text-align: center;
  font-size: 35px;
}

#lock:focus {
  outline: none;
}

#analyzeButton {
  margin: 4px;
  height: 25px;
  width: 70px;
  border: none;
  background-color: deepskyblue;
  color: #FC0000;
  font-size: 15px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#analyzeButton:hover {
  color: black;
  font-size: 17px;
}